<!DOCTYPE html>
<html>
<head>
    <title>User Sign-Up/Login</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
</head>
<body>
    <h1>User Sign-Up/Login</h1>
    <form action="/login" method="POST">
        <label>Username:</label>
        <input type="text" name="username" required><br>
        <label>Password:</label>
        <input type="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
